@media screen and (min-width: $tablet) {
  .section-hero__container {
    max-width: 1199px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_tablet.jpg);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero_tablet2x.jpg);
    }
  }
}
